.header {
    height: 72px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 128px;
    margin: 0;
  }

  .logo {
    color: white;
    font-size: 64px;
    font-weight: 900;
  }

  body {
    margin: 0;
  } 

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100px;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: center;
  }  

  .theStuff {
    display: flex;
    flex-direction: row;
  }

  .box {
    border: 1px solid red;
    box-sizing: border-box;
    display: inline-block;
    width: 25px;
    height: 25px;
  }
  
  #container {
    width: 500px;
    height: 500px;
  }
  
  #container>div {
    height: 25px;
  }

  div.box:hover {
    background-color:red;
}